<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
	<configSections>
		<section name="custom" type="ConfigurationSample.CustomConfigurationSection, ConfigurationSample"/>
	</configSections>
	-->
	<connectionStrings>
		<add name="DbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=StoreDb;Integrated Security=True"/>
		<add name="TestDbConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TestStoreDb;Integrated Security=True"/>
	</connectionStrings>
	<!--
	<appSettings>
		<add key="sampleApplication" value="Configuration Sample"/>
	</appSettings>
	<custom>
		<customConfigurations>
			<add key="customSample" name="Mickey Mouse" age="83"/>
		</customConfigurations>
	</custom>
	-->
</configuration>